# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/
.terraform.lock.hcl
# Ignore .tfvars files that contain sensitive data
*.tfvars

# Ignore override files as they're usually used to override resources locally and do not need to be checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore .terraformrc as it's not needed in most cases
.terraformrc

# Ignore files that might be created during plan or apply process
*.plan
*.backup

# Ignore .DS_Store files on macOS
.DS_Store

